<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Raft.Shop</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span>
                    <i class="bi bi-cart my-auto fs-4 fw-bold" aria-hidden="true" />
                </span>
                Shop
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="balance">
                <span>
                    <i class="bi bi-currency-yen my-auto fs-4 fw-bold" aria-hidden="true" />
                </span>
                Balance
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inventory">
                <span>
                    <i class="bi bi-journal-plus my-auto fs-4 fw-bold" aria-hidden="true" />
                </span>
                Inventory
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="orders">
                <span>
                    <i class="bi bi-bezier2 my-auto fs-4 fw-bold" aria-hidden="true" />
                </span>
                Orders
            </NavLink>
        </div>
    </nav>
</div>
